html, body { 
    height: 100%; 
   
    padding: 0px;
    margin: 0px;
    background:  black;
    
}
#boton { 
    position: absolute; 
    left: 200px; 
    top: 100px; 
    z-index: 500 
    }
h1{
    background: blue;
    height: 50px;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    text-align:center;
     COLOR : white;
    

    
}
#map{
    height: 90%;
    width: 90%;
    margin-top: 0px;
    margin-left: 50px;

}

